<script defer src="/js/client.js"></script>
<div class="container">
  <form name="postOrder">
  <div class="mb-3">
    <label for="exampleInputTitle1" class="form-label">Title</label>
    <input name="title" type="text" class="form-control" id="exampleInputTitle1" aria-describedby="titleHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputPrice1" class="form-label">Price</label>
    <input name="price" type="text" class="form-control" id="exampleInputPrice1" aria-describedby="priceHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputDiscount1" class="form-label">Discount</label>
    <input name="discount" type="text" class="form-control" id="exampleInputDicsount1" aria-describedby="discountHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputLocation1" class="form-label">Location</label>
    <input name="location" type="text" class="form-control" id="exampleInputLocation1" aria-describedby="locationHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputImage1" class="form-label">Image</label>
    <input name="image" type="file" class="form-control" id="exampleInputImage1" aria-describedby="titleHelp">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
