<script defer src="/js/clientsignin.js"></script>
<div class="container" style="width:500px">
  <h1>Вход</h1>
  <form name="authForm" method="post">
    <div class="container">
      <div class="mb-2">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input placeholder="ivan@mail.ru" required name="email" type="email" class="form-control" id="signupEmail"
          aria-describedby="emailHelp">
      </div>
      <div class="mb-3 ">
        <label for="exampleInputPassword1" class="form-label">Пароль</label>
        <input placeholder="qwerty" required name="pass" type="password" class="form-control" id="signupPassword">
      </div>
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </form>
</div>
